
<form action="/Home/Integrar" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" class="form-control" required />
    <br />
    <label for="idade">Idade:</label>
    <input type="number" name="idade" id="idade" class="form-control" required />
    <br />
    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" id="telefone" class="form-control" required />
    <br />
    <label for="email">E-mail:</label>
    <input type="text" name="email" id="email" class="form-control" required />
    <br />
    <div class="form-inline">
        <input type="submit" value="Integrar" class="btn btn-group-xs btn-primary" />
    </div>
</form>

